<section>
    <article>
      <div class="container">
        <article id="navFilter" class="d-flex justify-content-center 
        align-items-center
        ">
          <input class="filterName" ng-model="filterInput.item_name" placeholder="Search product"/>
            <span>Sort by:</span>
            <button class="sortButton" ng-click="sort('item_name')">{{sortName}}</button>
            <button class="sortButton" ng-click="sort('price')">{{sortPrice}}</button>
            <button class="sortButton" ng-click="sort('release')">{{sortDate}}</button>
            <button class="sortButton" ng-click="reset('item_name')">Reset</button>
        </article>

        <div class="row row-cols-1 row-cols-md-4" >
          <div class="col" ng-repeat="movie in productsData | filter : {category:'movie'} | filter : filterInput | orderBy : keyName : reverse">
            <div class="card h-100">
              <img src="../img/movies/{{movie.img_prod}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{movie.item_name}}</h5>
                <p class="card-text">{{movie.price | currency}}</p>
              <p class="card-release">{{movie.release}}</p>
                <span>
                  <a class="btn btn-light" role="button" ng-click="buyItem(movie.id)">Add to cart
                    <i class="fa-solid fa-cart-arrow-down"></i>
                  </a>
                </span>
              </div>
            </div>
        </div>
      </div>

      <!-- <div class="movies">
        <div ng-repeat="movie in productsData | filter : {category:'movie'} | filter : filterInput | orderBy : key : reverse" class="row row-cols-1 row-cols-md-4 g-4">
        <class="col">
          <div class="card h-100">
            <img src="../img/movies/{{movie.img_prod}}" class="card-img-top" alt="{{movie.item_name}}">
            <div class="card-body">
              <h5 class="card-title">{{movie.item_name}}</h5>
              <p class="card-price">{{movie.price | currency}}</p>
              <p class="card-release">{{movie.release}}</p>
              <button class="addButton" ng-click="buyItem(movie.id)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div> -->
    </article>
  </section>
  
  <style>
    .sortButton{
      width: 20vh;
      border-radius: 5px;
      border: 0px none transparent;
    }
    #navFilter{
      margin-top: 2vh;
      margin-bottom: 0.5vh;
      background-color: #9C9290;
      border-radius: 5px;
      height: 5vh;
      column-gap: 5vh;
      padding: 3vh;
    }
    input::placeholder{
      font-size: 14px;
    }
    
    /* .movies{
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 7%;
      padding-right: 7%;
      column-gap: 2.5%;
      row-gap: 5vh;
    }
    
    .card-img-top{
      width: 150px;
      height: 200px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    
    .card {
      display: flex;
      align-items: center;
      background-color: antiquewhite;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card button:hover {
      opacity: 0.7;
    } */

    .row{
      row-gap: 2vh;
    }

    .card span{
      display: flex;
      justify-content: center;
    }
    .card span i{
      font-size: 20px;
      color: #10002B;
      border: 0px none none;
      text-decoration: none;
    }
    .card a{
      border:1px solid #10002B;
      font-size: 14px;
      justify-content: center;
    }
    .card a:hover{
      color: #9C9290;
    }
    .card a:hover i {
      color: #9C9290;
    }
    .card img {
      width: 30vh;
      height: 40vh;
    }
    .card{
      align-items: center;
      padding-top: 3vh;
    }
    .card h5{
      text-align: center;
      height: 8vh;
    }
    .card p{
      text-align: center;
    }
    .card-body{
      width: 100%;
    }
    </style>